body {
    font-family: Arial, Helvetica, sans-serif;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-menu {
    text-align: center;
}

.main-menu.hide {
    display: none;
}

.title-menu {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 20px;
}

input, select {
    display: block;
    width: 250px;
    margin: 10px auto;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background: red;
    color: white;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: black;
    color: white;
    transition: 0.2s;
}

.pause-button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background: red;
    color: white;
    transition: 0.2s;
}

input::placeholder {
    color: #eee;
}

button:hover {
    opacity: 0.8;
}

.instruction {
    position: fixed;
    display: none;
    width: 80vh;
    height: 60vh;
    border: black 1px solid;
    background-color: black;
    opacity: 80%;
}

.instruction.show {
    display: flex;
}

.instruction-text {
    color: white;
    margin-left: 4vh;
}

.close-instruction {
    position: absolute;
    margin-left: 68vh;
    background-color: red;
}

.pause-game {
    position: fixed;
    display: none;
    width: 80vh;
    height: 60vh;
    border: black 1px solid;
    background-color: black;
    opacity: 80%;
}

.pause-game.show {
    display: flex;
}

.pause-text {
    color: white;
    margin-left: 4vh;
}

.close-pause {
    position: absolute;
    margin-left: 68vh;
    background-color: red;
}

.game {
     display: none;
}

.game.playing {
    display: flex;
}